<h1>새 방 파는 곳</h1> 

{% comment %} 성별, 운동하는 날, 작성자 추가 {% endcomment %}
<form action="{%url 'post:post_create'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <p>제목 : <input type="text" name="title" /></p> 

    <div class="select_exercise">
        <label for="exercise">
        운동선택 :
        </label>
        <select id="exercise" name="exercise">
        <option value="">------ 선택하세요 ------</option>
        {% for e in exercise %}
        <option value="{{e.id}}">{{ e.name}} </option>
        {% endfor %}

        </select>
    </div>


    <p>
      내용 :<br>
      <textarea type="text" name="body" id="" cols="30" rows="10"></textarea>
    </p>
  
    <button type="submit">방 올리기</button>
  </form>
  
  </form>