<h1>운동 별 리스트 보여주는 곳(일단 다 모아서 보여줌) : CallSign</h1>
<button type="button" onclick="location.href='/post/post_new/';"> 새 팀원 모집하기  </button>
<div class="nav_container">

      <div class="container">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{%url 'post:soccer_list' %}"
                >축구</a>
              
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{%url 'post:basketball_list' %}"
                >농구</a>
              
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{%url 'post:volleyball_list' %}"
                >배구</a>
              
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{%url 'post:baseball_list' %}"
                >야구</a>
              
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{%url 'post:tennis_list' %}"
                >테니스</a>
              
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{%url 'post:badminton_list' %}"
                >배드민턴</a>
              
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{%url 'post:running_list' %}"
                >산책/러닝</a>
              
            </li>

            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{%url 'post:etc_list' %}"
                >기타</a>
            </li>
            
  
      </div>
  </div>


<hr>

<div>
  {% for post in posts %}
  {%if post.flag_enddate == False %}
  모집 마감일 - {{post.end_date}}
  {%endif%}
  <div>
    
    <h3>{{post.title}}</h3>
    {{post.summary}}<br>
    성별 : {{post.sex}}<br>
    <a href = "{%url 'post:post_detail' post.id%}">참여하기</a>
  </div><br><br>
  {% endfor %}
  
</div>

